@mixin container {
    max-width: 1000px;
    width: 100%;
    min-width: 900px;
    margin: 0 auto;
    padding: 10px 10px;
}

@mixin flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}